{% extends "blog/base.html" %} {% block content %}
<div class="content-section">
  <form method="POST">
    {%csrf_token%}
    <fieldset class="form-group">
      <legend class="border-bottom b-4">Delete Post</legend>
      <p>Are you sure you want delete the post "{{object.title}}"</p>
    </fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
      <a class="btn btn-outline-dark" href="{% url 'post-detail' object.id %}"
        >Cancel</a
      >
    </div>
  </form>
</div>
{% endblock content %}
